<div class="row top-marg">
<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="/fa/صفحات-خاص/خدمات-سمن-ها"><img alt="سازمان های مردم نهاد" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Sazmanhaye_Mardom_Nahad_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="/fa/صفحات-خاص/خدمات-سمن-ها"><span class="spTitle">سازمان های مردم نهاد</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="/fa/صفحات-خاص/میز-خدمت/شورا"><img alt="شورا" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Shoraa_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="https://www.moi.ir/fa/صفحات-خاص/میز-خدمت/شورا"><span class="spTitle">شورا</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>
<!--
<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="/fa/صفحات-خاص/میز-خدمت/امور-انتظامی"><img class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Omoore_Entezami_Color.png" /></a></div>
<a href="https://www.moi.ir/fa/صفحات-خاص/میز-خدمت/امور-انتظامی"><span class="spTitle">امور انتظامی</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>
-->

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="/fa/صفحات-خاص/میز-خدمت/انجمن-های-اقلیت-های-دینی"><img alt="انجمن های اقلیت های دینی" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Shoraa_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="https://www.moi.ir/fa/صفحات-خاص/میز-خدمت/انجمن-های-اقلیت-های-دینی"><span class="spTitle">انجمن های اقلیت های دینی </span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4">
<div class="tabDivs">
<div class="PicIcon"><a href="/fa/صفحات-خاص/میز-خدمت/خدمات-احزاب"><img alt="احزاب و تشکل های سیاسی" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Ahzaab_Va_Tashakkolha_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="/fa/صفحات-خاص/میز-خدمت/خدمات-احزاب"><span class="spTitle">احزاب و تشکل های سیاسی</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="/fa/صفحات-خاص/میز-خدمت/رسیدگی-به-شکایات"><img alt="رسیدگی به شکایات" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Residegi_be_Takhallofate_Edari_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="https://www.moi.ir/fa/صفحات-خاص/میز-خدمت/رسیدگی-به-شکایات"><span class="spTitle">رسیدگی به شکایات</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="/fa/صفحات-خاص/میز-خدمت/سازمان-امور-اتباع-و-امور-خارجه"><img alt="سازمان امور اتباع و مهاجرین خارجی" class="PicIconIn" src="/getmedia/1a1f5d02-0bab-4163-871d-ab0a743c573e/Icon_Atbai_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="https://www.moi.ir/fa/صفحات-خاص/میز-خدمت/سازمان-امور-اتباع-و-امور-خارجه"><span class="spTitle">سازمان امور اتباع و مهاجرین خارجی</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="/fa/صفحات-خاص/میز-خدمت/تقسیمات-کشوری"><img alt="تقسیمات کشوری" class="PicIconIn" src="/getmedia/63d09a01-507d-40fc-8980-2530c1d029c1/Icon_Taghsimat_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="https://www.moi.ir/fa/صفحات-خاص/میز-خدمت/تقسیمات-کشوری"><span class="spTitle">تقسیمات کشوری</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="https://moi.ir/fa/صفحات-خاص/میز-خدمت/تغییرات-اردیبهشت-ماه-۹۹-میز-خدمت/سایر-خدمات/امور-انتظامی"><img alt="گزینش" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Shoraa_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="https://moi.ir/fa/صفحات-خاص/میز-خدمت/تغییرات-اردیبهشت-ماه-۹۹-میز-خدمت/سایر-خدمات/امور-انتظامی"><span class="spTitle">گزینش</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="https://moi.ir/fa/صفحات-خاص/میز-خدمت/تغییرات-اردیبهشت-ماه-۹۹-میز-خدمت/سایر-خدمات/امور-انتظامی-(1)"><img alt="برنامه های مرزی" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Shoraa_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="https://moi.ir/fa/صفحات-خاص/میز-خدمت/تغییرات-اردیبهشت-ماه-۹۹-میز-خدمت/سایر-خدمات/امور-انتظامی-(1)"><span class="spTitle">برنامه های مرزی</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="https://moi.ir/fa/mosaferin"><img alt="اطلاعات مسافرین" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Shoraa_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a><a href="https://moi.ir/fa/mosaferin"><span class="spTitle">اطلاعات مسافرین</span></a></div>
&nbsp;

<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="http://moi.ir/fa/صفحات-خاص/میز-خدمت/تخلفات-اداری"><img alt="انجمن های اقلیت های دینی" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Shoraa_Color.png?width=93&amp;height=102" style="width: 93px; height: 102px;" /></a></div>
<a href="http://moi.ir/fa/صفحات-خاص/میز-خدمت/تخلفات-اداری"><span class="spTitle">تخلفات اداری</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 ">
<div class="tabDivs">
<div class="PicIcon"><a href="http://moi.ir/fa/%D8%B5%D9%81%D8%AD%D8%A7%D8%AA-%D8%AE%D8%A7%D8%B5/%D9%85%DB%8C%D8%B2-%D8%AE%D8%AF%D9%85%D8%AA/%D8%AA%D8%BA%DB%8C%DB%8C%D8%B1%D8%A7%D8%AA-%D8%A7%D8%B1%D8%AF%DB%8C%D8%A8%D9%87%D8%B4%D8%AA-%D9%85%D8%A7%D9%87-%DB%B9%DB%B9-%D9%85%DB%8C%D8%B2-%D8%AE%D8%AF%D9%85%D8%AA/%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%B3%D9%85%D9%86-%D9%87%D8%A7"><img alt="انجمن های اقلیت های دینی" class="PicIconIn" src="/Files/MOI/Media/میز-خدمت/Icon_Shoraa_Color.png" style="width: 93px; height: 102px;" /></a></div>
<a href="http://moi.ir/fa/%D8%B5%D9%81%D8%AD%D8%A7%D8%AA-%D8%AE%D8%A7%D8%B5/%D9%85%DB%8C%D8%B2-%D8%AE%D8%AF%D9%85%D8%AA/%D8%AA%D8%BA%DB%8C%DB%8C%D8%B1%D8%A7%D8%AA-%D8%A7%D8%B1%D8%AF%DB%8C%D8%A8%D9%87%D8%B4%D8%AA-%D9%85%D8%A7%D9%87-%DB%B9%DB%B9-%D9%85%DB%8C%D8%B2-%D8%AE%D8%AF%D9%85%D8%AA/%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%B3%D9%85%D9%86-%D9%87%D8%A7"><span class="spTitle">انتخابات</span></a><br />
&nbsp;
<div class="connection"><img alt="" class="log-in" src="/getmedia/ab30b763-c1fb-45cc-9460-6df4dd812acf/image005_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Introduction" src="/getmedia/c4cca82f-f2af-446b-9f00-74bf89f84e95/image001_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /> <img alt="" class="Guide" src="/getmedia/b31ccc0d-4895-4f93-971f-c5c3ee05141d/image004_1.png?width=25&amp;height=25" style="width: 25px; height: 25px;" /></div>
</div>
</div>
</div>
